@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient(rgb(255, 60, 0));
  }
}

/* media.css */

@media (max-width: 768px) {
  body {
    padding: 10px;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  h1 {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 4rem;
    margin-right: 0;
  }

  .another {
    padding: 10px;
  }

  img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin-right: 0;
  }

  .the-words p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 10px;
  }

  .button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(252, 248, 5);
    color: rgb(255, 60, 0);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }

  footer p {
    font-size: 0.9rem;
    padding: 20px 0;
  }
}

